.DS_Store
node_modules
.cert
/build
/dist
/lib
/package
/coverage
.env
.env.*
!.env.example
schema.graphql
.npmrc
.yarn
bun.lockb
.vscode
src/test.ts
.husky/_.husky/pre-commit
yarn-error.log
src/auth-core/.turbo/turbo-build.log
